@import "reset.css";

.register_content,.doneContainer{
    width: 1200px;
    height: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

/* 注册步骤 */
ul.step-nav {
    display: inline-block;
    list-style: none;
}

.step-nav li {
    list-style: none;
    float: left;
    width: 284px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #000;
    font-size: 18px;
    background: #ECEFF4;
    margin-right: 5px;
    position: relative;
    z-index: 49;
}

.step-nav li:before, .step-nav li:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}

.step-nav li:before {
    left: 0;
    border-width: 27px 0 27px 30px;
    border-color: transparent transparent transparent #fff;
}

.step-nav li:after {
    border-width: 27px 0 27px 30px;
    border-color: transparent transparent transparent #ECEFF4;
    right: -30px;
    top: 0;
    z-index: 50;
}

.step-nav li.step-nav-first {
    z-index: 50;
}

.step-nav li.step-nav-first:before {
    border-width: 0;
    padding-left: 0;
}

.step-nav li.on:after {
    border-width: 27px 0 27px 30px;;
    padding-left: 0;
    border-color: transparent transparent transparent #00a1e9;
}

.step-nav li.step-nav-last {
    z-index: 48;
}

.step-nav li.step-nav-last:after {
    border-width: 0;
}

.step-nav li.on {
    background: #00a1e9;
    color: #fff;
}

.item_group {
    width: 70%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: auto;
}

.item_label, .item_input, .item_button {
    margin: auto;
    height: 100%;
}

.item_label {
    width: 20%;
    float: left;
    text-align: right;
    font-size: 16px;
    color: #666666;
}

.item_input, .item_service_agreement{
    width: 60%;
    max-width: 60%;
    display: inline-block;
}

.item_service_agreement{
    padding-left: 3%;
    height: 30px;
    text-align: left;
}

.item_extend {
    width: 20%;
    min-width: 20%;
    float: right;
    text-align: left;
}

.item_extend img {
    vertical-align: middle;
}

.item_group .item_input input {
    width: 94%;
    height: 40px;
    border: 1px solid #a1a1a1;
    border-radius: 18px;
    padding-left: 42px;
    padding-right: 20px;
}

.item_group .item_input input:focus { border: 1px solid #38adff; }

.icon-mobile { background: url(../images/password.png) -1px 0/24px auto no-repeat; }
.icon-domain { background: url(../images/domain.png) -1px 0/24px auto no-repeat; }
.icon-pwd { background: url(../images/password.png) -1px 0/24px auto no-repeat; }
.icon-cpwd{ background: url(../images/confirm_password.png) -1px 0/24px auto no-repeat; }
.icon-picCode { background: url(../images/pic_code.png) -1px 0/24px auto no-repeat; }
.icon-mobileCode { background: url(../images/sms_code.png) -1px 0/24px auto no-repeat; }
.icon-email { background: url(../images/email_address.png) -1px 0/24px auto no-repeat; }
.icon-user-name { background: url(../images/username.png) -1px 0/24px auto no-repeat; }
.icon-nick-name { background: url(../images/nick_name.png) -1px 0/24px auto no-repeat; }
.icon-mobile,.icon-domain,.icon-pwd,.icon-cpwd,.icon-picCode,.icon-mobileCode,.icon-email,.icon-user-name,.icon-nick-name { background-position: 10px 7px; }
/* button */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:focus, .btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
}

.btn-primary {
    color: #fff;
    background-color: #38adff;
    border-color: #357ebd
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #38adff;
    border-color: #357ebd
}

.btn-register{
    width: 94%;
    height: 40px;
    border-radius: 20px;
}

.dd-split-line-end{height:50px;margin:0 40px;margin-top:10px}
